.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-top {
  flex: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 80;
  margin-top: 0;
  background-color: white;
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;

}

.header-top p span:nth-child(1) {
  color: rgb(73, 112, 248);
}

.header-top p span:nth-child(2) {
  color: #26292D;
}

.header-top p {
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: .18em;
}

.rest-body {
  padding-top: 48px;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  color: rgb(160, 160, 160);
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {


  background-color: #fff;
  border: solid #000;
  border-width: 0 0 3px;
  color: #000;
}


.data-table-parent {
  padding: 15px 15px;

}


/*header for tables*/
.dtp-heading {
  display: flex;
  margin-bottom: 27px;

}

.name-btn {
  display: flex;
}

.dtp-heading p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  padding-right: 10px;
}

.dtp-heading .btn-holder {

  display: flex;
  justify-content: center;
}

.dtp-heading .btn-holder button {
  border: 1.4px solid #616DD7;
  box-sizing: border-box;
  border-radius: 4px;
  color: #434FBC;
  font-weight: 500;
  background: white;
  padding: 8px;
  font-size: 15px;
  cursor: pointer;
}

.dtp-heading .search {
  flex: 9;
  display: flex;
  justify-content: flex-end;
}

/*data table*/
.table-headings {
  display: flex
}

.table-headings p {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #797979;
}

.table-headings p:nth-child(1) {
  flex: 1;
}

.table-headings p:nth-child(2) {
  flex: 2;
}

/*main table*/
.table-main {
  height: 50vh;
  overflow: auto;
  margin-top: 10px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.table-entry {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #EEEEEE;
}

.table-entry .entry-l {
  flex: 1;
  display: flex;
}

.table-entry .entry-l img {
  border-radius: 50%;
  margin-right: 10px;
  height: 50px;
}

.table-entry .entry-l p {
  font-weight: 500;
  font-size: 14px;
  color: #000000;

}

.table-entry .entry-r {
  flex: 2;
  font-size: 12px;
  color: #6C6C6C;

}


/*Bottom pager*/
.bottom-pager {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}


.bottom-pager p,
.bottom-pager label,
.bottom-pager option {
  margin: 0px;
  font-size: 12px;
  color: #000000;
  padding-right: 9px;
}

.bottom-pager select {
  background: white;
}

.bottom-pager p {
  padding-left: 30px;
  padding-top: 4px;
  padding-right: 9px;
}

.link-tags {
  text-decoration: none;
}


/*details page*/

.details-body {
  padding-top: 48px;
}

.db-part-one,
.dbpo-two div {
  display: flex;
}

.dbpo-two div {
  cursor: pointer;
}


.dbpo-two div:nth-child(1) {
  margin-right: 20px;
}

.db-part-one {
  margin-bottom: 38px;
}

.dbpo-one p {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin: 0px;

}

.dbpo-one,
.dbpo-two {
  flex: 1;
  display: flex;
}

.dbpo-two {
  justify-content: flex-end;
}



.dbpo-two p {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 7px;
  padding-top: 2px;
}


.editName {
  margin-right: 20px;
}

.go-back {
  font-size: 23px;
  color: #000;
  padding-top: 15px;
}

.dbpo-one .tai {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
}

.avatar-parent {
  display: flex;
}

.avatar-parent img {
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
}


.db-part-two {
  padding-left: 114px;
  display: flex;
  margin-bottom: 32px;
}

.db-part-two p {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  margin-right: 12px;
}


.db-part-two p:nth-child(2) {

  color: #333FAD;
  cursor: pointer;
}

.table-container {
  padding-left: 114px;
  height: 40vh;
  overflow: auto;
}

.table-container table {
  width: 100%;
}

table thead tr th {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #797979;
  padding-bottom: 7px;
  position: sticky;
  top: 0;
  background: white;
}

table thead tr th:nth-child(2),
table tbody tr td:nth-child(2) {
  text-align: center;
}


table thead tr th:nth-child(3),
table tbody tr td:nth-child(3) {
  text-align: end;
  padding-right: 1rem;
}

.action-pencil,
.action-trash {
  font-size: 15px;
  margin-right: 29px;
  cursor: pointer;
}

.action-trash {
  margin-right: 0px;
}



table tbody tr td {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #EEEEEE;
}

table tbody tr td:nth-child(2) {
  font-size: 12px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}